body {
text-align: center;
margin: 0;
}

header {
	background-color: #FF0000;
	color: #FFFFFF;
	padding: 30px 20px;
}

h1 {
font-family: Raleway;
letter-spacing: 1px;
font-weight: 600;
font-size: 45px;
text-transform: uppercase;
margin: 0;
}

h2 {
font-family: Raleway;
color: #000000;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;	
text-transform: uppercase;
}

a {
font-family: Raleway;
color: #FFFFFF;
letter-spacing: 1px;
font-weight: 600;
font-size: 18px;
text-decoration: none;
text-transform: uppercase;
margin: 0 20px;
border-bottom: 2px solid transparent;
}

a:hover {
border-color: white;
}

p {
font-family: "Droid Serif";
line-height: 26px;
font-size: 18px;	
}

nav {
background-color: #000000;
color: #FFFFFF;
padding: 20px 0;
text-align: left;	
}

main {
width: 850px;
margin: 35px auto;	
}

img {
width: 150px;
height: 220px;
border: 2px solid black;
border-radius: 5px;
margin: 6px 9px;	
}

footer {
text-transform: uppercase;
padding: 0 20px;
background-color: #000000;
color: white;
font-size: 14px;
letter-spacing: .08em;
font-weight: 500;
}

button {
    background-color: #FF0000;
    border-radius: 25px;
    color: #FFFFFF;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,1);
    width: 400px;
    padding: 30px 20px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.yaymsg {
    display: none
}

.naymsg {
    display: none;
}

.showmsg {
    color: #FF0000;
    font-weight: 500;
    display: block;
}

.copyright {
font-family: Raleway;
float: left;	
}

.message {
font-family: Raleway;
float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
color: #FF0000;
font-weight: 700;
}